*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--van-gray-1);
  font-size: var(--van-font-size-lg);
  color-scheme: light;
}

html.dark {
  background: #222;
  color-scheme: dark;
}

#app {
  height: 100%;
  position: relative;
  //https://vant-ui.github.io/vant/#/zh-CN/list
  //此属性会导致van -list   无法加载更多
  //overflow-x: hidden; 需要移除
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
